
{% extends 'base.html' %} 
 
{% block head %}
<title>Task Master</title>
{% endblock %}
    
{% block body %}

<h1> HOME PAGE</h1>
<a href="/expense">Add expense</a>
<a href="/reports">Reports</a>

<div class="content">
    <form action="#" method="POST">
        <input type="submit" value="previous" name="current-month">
        {% if expenses|length < 1 %}

        <h4 style="text-align: center">Sem gastos ainda :) </h4>

        {% else %}

        <h3> {{expenses[0].month}} / {{expenses[0].year}}</h3>

        {% endif %}
        <input type="submit" value="next" name="current-month">
    </form> 
    <table>
        <tr>
            <th>Date</th>
            <th>Content</th>
            <th>Value</th>
            <th>Actions</th>
            <th>É fixo</th>
        </tr>

        {% for item in expenses %}
            <tr>
                <td> {{item.date}}/{{item.month}}/{{item.year}}  </td>
                <td> <a href="/update/{{item.id}}">{{item.content}}</a></td>
                <td> {{item.value}} </td>
                <td> <a href="/delete/{{item.id}}">Delete</a></td>
                <td> {{item.isFixed}} </td>
           </tr>
        {% endfor %}

    </table>  
</div>                

{% endblock %}