
{% extends 'base.html' %} 
 
{% block head %}
<title>Task Master</title>
{% endblock %}
    
{% block body %}

<h1> HOME PAGE</h1>
<a href="/expense">Add expense</a>
<div class="content"> 
    <table>
        <tr>
            <th>Date</th>
            <th>Content</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>

        {% for item in expenses %}
            <tr>
                <td> {{item.date}}/{{item.month}}/{{item.year}}  </td>
                <td> {{item.content}} </td>
                <td> {{item.value}} </td>
                <td>
                    <a href="/delete/{{item.id}}">Delete</a>
                    <br>
                    <a href="/update/{{item.id}}">Update</a>                
                </td>
            </tr>
        {% endfor %}

    </table>  
</div>                

{% endblock %}