{% extends 'base.html' %} 
 
{% block head %}
    <title>Add expense</title>
{% endblock %}
    
{% block body %}
    <h1> Add expenses</h1>
    <a href="/">Back to home</a>
    <div class="content"> 
        
        <form action="/expense" method="POST">
            
            <input type="date" name="date" id="date" placeholder="DD/MM/YY">
            <input type="text" name="content" id="content" placeholder="Description">
            <input type="text" name="value" id="value" placeholder="R$">
            <input type="checkbox" name="isFixed">Fixo
            <br>

            
            <label for="category">Choose a category:</label>
            <select name="category">
                {% for key in categories|sort %}
                <optgroup label="{{key}}">
                    {% for item in categories[key] %}  

                    <option value="{'{{key}}':'{{item}}'} ">{{item}} </option>
                    {%endfor%}

                </optgroup>
                {% endfor %}

            </select>              

            <input type="submit" value="Add Despense">
        </form>
        
        
    </div>  
{% endblock %}